{% extends "dealerbase.html" %}
  {% block title %}Displaying Model Data{% endblock title %}
  {% block content %}
     <center>
        <h1> VEHICLE REGISTRATION PAYMENT  PAGE</h1>
        <body>
            <form method="POST" class="post-form" action="/updateveh/{{id}}">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                    <tr><td>User Name</td><td><input type="text" name="un"> </td></tr>
                    <tr><td>Password</td><td><input type="password" name="ps"> </td></tr>
                    <tr>
                        <td> <button type="submit" class="btn btn-success">SUBMIT</td>
                    </tr>
                </table>
            </form>
        </body>
    </center>
 {% endblock content %}
