{% extends "userbase.html" %}
{% block content %}
    <p class="success">
          <center>
             <h1>LICENSE ISSUING PAGE</h1>
             <table border="2">
                <tr><td>Application No</td><td>{{appno}}</td></tr>
                <tr><td>Name of the Applicant</td><td>{{aname}}</td></tr>
                <tr><td>RT Office</td><td>{{rto}}</td></tr>
                <tr><td> Licence No </td><td>{{printno}}</td></tr>
                <tr><td>Validity From</td><td>{{fromdate}}</td></tr>
                <tr><td>Validity To</td><td>{{todate}}</td></tr>
            </table>
        </center>
    </p>
{% endblock content %}